@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
a {
    text-decoration: none;    
}

a:link {
    color:#0071c5;
}

a:visited {
    color: #0071c5;
}

a:hover {
    color: #0071c5;
}

a:active {
    color: #0071c5;
}

b,
strong {
    font-weight: bold !important;
}

* {
    transition: 0.4s ease;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}

.rela-block {
    display: block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.floated {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.floated.left {
    float: left;
}

.floated.right {
    float: right;
}

.abs-cent-text {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.orbitron {
    display: inline-block;
    position: relative;
    font-family: "Orbitron";
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 32px;
    margin-bottom: 60px;
}

.orbitron::before,
.orbitron::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
}

.orbitron::before {
    left: -65%;
}

.orbitron::after {
    right: -63%;
}

.orbitron.black-orb::before,
.orbitron.black-orb::after {
    background-color: #000;
}

.nav-bar {
    position: fixed;
    z-index: 100;
    height: 110px;
  
    top: 0;
    left: 0;
    right: 0;
    padding: 0 6%;
}
.nav-link.active {
    color:white;
}

.nav-bar.scrolled {
    /* height: 80px; */
    background-color: rgba(255, 255, 255, 1);
}

.nav-logo {
    position: absolute;
    top: 50%;
    left: 6%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 0px;
    color: #fff;
    transition: 0.4s ease;
    cursor: pointer;
}

.nav-links-container {
    position: absolute;
    top: 50%;
    right: 6%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-link {
    color: #999;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    /* font-weight: 500; */
    padding: 0 12px;
    transition: 0.4s ease;
}

.nav-link.active,
.nav-link:hover {
    color: #0071c5;
}

.top-section {
    height: 100vh;
    background: url("../img/back.png") no-repeat center;
    background-size: cover;
}

.team-image {
    height: 100vh;
    background: url("../img/team.png") no-repeat center;
    background-size: cover;
}

.grad-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.top-text {
    color: #fff;
    top: 58%;
    line-height: 28px;
}

.top-small-text {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-right: -2px;
}

.big-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 72px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-bottom: 60px;
    margin-right: -20px;
}

.half-big-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 12px;
    margin-bottom: 45px;
    margin-right: -12px;
}

.half-big-text.has-border {
    display: inline-block;
    position: relative;
    margin: 0 auto 50px;
    padding: 15px 45px;
    border: 5px solid;
}

.under-top-section {
    color: #fff;
    background-color: #1d1d1d;
    text-align: left;
    padding: 0 6%;
}

.under-top-big-text {
    margin-top: 80px;
}

.under-top-small-text {
    width: 84%;
    max-width: 580px;
    margin-bottom: 50px;
}

.lines-thing {
    display: inline-block;
    position: relative;
    margin-bottom: 45px;
    height: 2px;
    width: 80px;
    background-color: #fff;
}

.lines-thing::before,
.lines-thing::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
}

.lines-thing::before {
    top: -12px;
}

.lines-thing::after {
    bottom: -12px;
}

.lines-thing.black {
    background-color: #000;
}

.lines-thing.black::before,
.lines-thing.black::after {
    background-color: #000;
}

.welcome-section {
    height: 520px;
    background: url("http://www.exlevent.com/wp-content/uploads/2015/09/FA-Business-events-Hero-2.jpg") no-repeat left top;
    background-size: 1100px 660px;
}

.welcome-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #fff 48%, transparent);
}

.welcome-section .orbitron {
    font-size: 16px;
    margin-bottom: 30px;
}

.welcome-text {
    right: 0;
    width: 45%;
    max-width: 900px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.welcome-text .big-text {
    margin-bottom: 30px;
}

.welcome-text p {
    max-width: 480px;
    margin: 0 auto 40px;
}

.has-lines {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 13px 45px;
    border-left: 2px solid;
    border-right: 2px solid;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 10px;
}

.has-lines::before,
.has-lines::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 45px;
    right: 45px;
    transition: 0.2s ease;
}

.has-lines:before {
    top: 0;
}

.has-lines::after {
    bottom: 0;
}

.has-lines.white:hover::before,
.has-lines.white:hover::after {
    background-color: #fff;
}

.has-lines.black:hover::before,
.has-lines.black:hover::after {
    background-color: #000;
}

.has-lines:hover::before {
    top: 8px;
}

.has-lines:hover::after {
    bottom: 10px;
}

.about-us-section {
    padding: 250px 0 80px;
}

.about-us-section>p {
    display: block;
    position: relative;
    width: 65%;
    margin: 30px auto 120px;
}

.about-us-section .orbitron {
    margin-bottom: 100px;
}

.about-us-quad-container,
.about-us-bottom-container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto 100px;
}

.quad-half {
    width: 50%;
    text-align: left;
    padding: 30px 20px 10px;
}

.quad-half p {
    width: 90%;
}

.small-header {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.bottom-left-side {
    text-align: left;
    width: 65%;
}

.bottom-left-side .small-header,
.bottom-left-side .lines-thing {
    margin-bottom: 45px;
}

.bottom-left-side p {
    width: 90%;
}

.bottom-right-side {
    width: 35%;
    text-align: left;
    line-height: 30px;
}

.bottom-right-side p {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
}

.quarter-div {
    height: 100%;
    width: 25%;
}

.quarter-div .big-text {
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.team-section {
    padding: 250px 0 0px;
}

.team-section p {
    position: relative;
    width: 60%;
    margin: 0 auto 140px;
}

.team-section .orbitron {
    margin-bottom: 100px;
}

.profile-view-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto -15px;
}


.profile-view-container .arrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background: url("https://image.freepik.com/free-icon/chevron-arrow-to-right--ios-7-interface-symbol_318-33616.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.profile-view-container .arrow.left {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    left: 0;
}

.profile-view-container .arrow.right {
    right: 0;
}

.profile-content {
    display: inline-block;
    position: relative;
    padding-top: 50px;
    width: 48%;
    vertical-align: top;
    text-align: left;
}

.profile-content .half-big-text {
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.profile-content .small-header {
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 45px;
    letter-spacing: 4px;
    border: 1px solid;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.profile-content p {
    width: 80%;
    margin: 0 0 80px;
}

.sponsors-section {
    background-color: #000;
    color: #fff;
    height: 360px;
    margin-top: 60px;
}

.sponsor-part {
    height: 100%;
    width: 20%;
    background-size: 80% !important;
}

.sponsor-part:nth-child(1) {
    width: 40%;
}

.sponsor-part:nth-child(2) {
    background: url("../img/intel.png") no-repeat center;
}

.sponsor-part:nth-child(3) {
    background: url("../img/wolfram.png") no-repeat center;
}

.sponsor-part:nth-child(4) {
    background: url("../img/mlh.png") no-repeat center;
}

.sponsor-part .half-big-text {
    margin-bottom: 0;
}

.events-section {
    margin-top: 60px;
}

.event-row {
    height: 400px;
    max-width: 100vw;
    margin: auto;
}

.event-row-half {
    height: 100%;
    width: 50%;
}

.event-row-half .orbitron {
    font-size: 14px;
    margin-bottom: 25px;
}

.event-row-half.grey-back {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background-size: cover; */
}

.event-row-half.black-back {
    background-color: #000;
    color: #fff;
}

.event-row-half.black-back .abs-cent-text {
    height: 150px;
    width: 150px;
    font-size: 100px;
    line-height: 150px;
    font-family: "Montserrat";
}

.event-row-half.black-nn {
    /*background-color: #000;*/
    background: url("../img/tier.gif") no-repeat center #000;
    /*background-size: cover;*/
}

.event-row-half.black-code {
    background: url("../img/code.gif") no-repeat center;
    background-size: cover;
}

.event-row-half.black-game {
    background: url("../img/pubg.gif") no-repeat center;
    background-size: cover;
}


.contact-section {
    padding: 220px 0 120px;
}

.contact-section>p {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 120px;
}

.contact-form-container {
    max-width: 1300px;
    margin: auto;
}

.contact-half {
    display: inline-block;
    position: relative;
    width: 48%;
    vertical-align: top;
    margin: 0 0.5% 40px;
}

.contact-half .small-header {
    font-size: 14px;
    margin: 20px auto;
    letter-spacing: 2px;
}

.contact-half .submit-button {
    cursor: pointer;
}

.contact-left {
    text-align: left;
}

.contact-left .small-header {
    text-transform: none;
    letter-spacing: 1px;
}

.contact-left .social-button {
    margin: 10px -10px;
}

.contact-left .social-button:hover {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.left-quad-container {
    margin: 20px auto;
}

.contact-quad {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 15px;
    text-align: left;
}


.footer-section {
    padding: 75px 0;
    background: #000;
    color: #fff;
}

.footer-section .small-header {
    margin-bottom: 20px;
}

.footer-section .top-link {
    cursor: pointer;
}

.social-buttons-container {
    min-height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px;
    text-align: center;
}

.social-button {
    display: inline-block;
    position: relative;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    height: 75px;
    width: 75px;
    background-size: cover !important;
    transition: 0.3s ease;
    margin: 14px 2px;
    cursor: pointer;
}

.social-button:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5);
}

.social-button.twitter-button {
    background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/twitter-square-social-media-256.png") no-repeat center;
}

.social-button.facebook-button {
    background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/facebook-square-social-media-256.png") no-repeat center;
}

.social-button.instagram-button {
    background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/instagram-square-social-media-256.png") no-repeat center;
}

.social-button.github-button {
    background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/github-square-social-media-256.png") no-repeat center;
}
.logointel{ 
    height: 3.5em; width: 6em; margin:0.2em;
}

@media screen and (max-width: 1300px) {
    .test-left .half-big-text {
        letter-spacing: 2px;
        padding: 15px 35px;
        margin-right: -2px;
    }

}

@media screen and (max-width: 1100px) {
    .big-text {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 14px;
        margin-right: -14px;
    }
    .nav-logo {
        left: 4%;
    }
    .nav-links-container {
        right: 4%;
    }
    .nav-link {
        padding: 0 6px;
    }
    .welcome-section {
        background-size: 800px 580px;
    }
}

@media screen and (max-width: 900px) {
    .logointel{ 
        height: 1.6em; width: 2.8em;
    }
    .nav-logo {
        left: 50px;
    }
    .nav-links-container {
        width: 140px;
        text-align: center;
        top: 40px;
        -webkit-transform: none;
        transform: none;
        right: 50px;
    }
    .nav-links-container:hover .nav-link {
        transition: 0.4s ease;
        height: 100%;
        opacity: 1;
    }
    .nav-link {
        display: block;
        height: 0;
        opacity: 0;
        transition: 0s ease;
    }
    .nav-link.active {
        height: 100%;
        opacity: 1;
    }
    .welcome-text {
        left: 50%;
        width: 80%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .about-us-section {
        padding: 160px 0 40px;
    }
    .quarter-div {
        height: 50%;
        width: 50%;
    }
    .sponsors-section {
        height: 480px;
    }
    .sponsor-part {
        height: 50%;
        width: 50%;
    }
    .sponsor-part:nth-child(1) {
        width: 50%;
    }
    .event-row-half {
        height: 50%;
        width: 100%;
    }

    .contact-half {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .quad-half,
    .bottom-left-side,
    .bottom-right-side {
        padding: 0 0 30px;
        width: 100%;
    }
    .profile-image,
    .profile-content {
        width: 100%;
        text-align: center;
    }
    .profile-image p,
    .profile-content p {
        margin: 0 auto 60px;
    }
    .sponsor-part {
        height: 25%;
        width: 100%;
    }
    .sponsor-part:nth-child(1) {
        width: 100%;
    }
    .sponsor-part:nth-child(2) {
        background-size: 140px 100% !important;
    }
    .sponsor-part:nth-child(3) {
        background-size: 150px 100% !important;
    }
    .sponsor-part:nth-child(4) {
        background-size: 260px 100% !important;
    }
}

@media screen and (max-width: 500px) {
    .big-text {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 2px;
        margin-bottom: 22px;
        margin-right: -2px;
    }
    .orbitron {
        margin-bottom: 22px;
    }
    .about-us-section {
        padding: 80px 0 0;
    }
    .portfolio-bottom {
        height: 450px;
    }
    .quarter-div {
        height: 25%;
        width: 100%;
    }
    .quarter-div .big-text {
        margin-bottom: 10px;
    }
    .event-row {
        height: 500px;
    }
    .half-big-text.has-border {
        padding: 10px 6px;
        font-size: 16px;
    }
}